Repository bernardop/vscode-working-sets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Updated dependencies to latest versions and fixed compatibility issues
  .eslintcache
  .eslintrc.json
  CHANGELOG.md
  package-lock.json
  package.json
  src/test/suite/index.ts
  src/workingSets.ts
Due: prettier --write, eslint --cache --fix

Added .eslintcache to .gitignore and removed from repo
  .eslintcache
  .gitignore
Due: none

1.3.1
  package-lock.json
  package.json
Due: none

Set correct version of @types/vscode
  package-lock.json
  package.json
Due: none

Set version back to 1.3.0
  package.json
Due: none

1.3.1
  package.json
Due: none

Add option to save working sets in the workspace
  CHANGELOG.md
  package-lock.json
  package.json
  src/workingSets.ts
Due: prettier --write, eslint --cache --fix

* Undo package.json and package-lock version changes (will take care of it when publishing the extension) * Tweaks to latest PR code to match project's coding style
  CHANGELOG.md
  package-lock.json
  package.json
  src/workingSets.ts
Due: prettier --write, eslint --cache --fix

Updated CHANGELOG and README
  CHANGELOG.md
  README.md
Due: prettier --write

1.4.0
  package-lock.json
  package.json
Due: none

Updated @types/vscode to correct version
  package-lock.json
  package.json
Due: none

Fixed conflicts
  package.json
Due: none

2.0.0
  package.json
Due: none

Updated CHANGELOG
  CHANGELOG.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{js,css,md})
  eslint --cache --fix: any of: *.ts
